<h2>{{pageTitle}}</h2>
<form>
  <div class="form-group">
    <input type="email" class="form-control" id="filterBy" placeholder="Filter by">
  </div>
</form>
<table class="table" *ngIf='products && products.length'>
  <thead>
    <tr>
      <th>
        <button type="button" (click)='toggleImage()' class="btn btn-primary">
          {{showImage? 'Hide':'Show'}} Images
        </button>
      </th>
      <th>Product</th>
      <th>Code</th>
      <th>Available</th>
      <th>Price</th>
      <th>5 Star Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let product of products'>
      <th scope="row">
        <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName' />
      </th>
      <td>{{product.productName}}</td>
      <td>{{product.productCode}}</td>
      <td>{{product.releaseDate}}</td>
      <td>{{product.price}}</td>
      <td>{{product.starRating}}</td>
    </tr>

  </tbody>
</table>
