<h2>Product List</h2>
<form>
  <div class="form-group">
    <input type="email" class="form-control" id="filterBy" placeholder="Filter by">
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>
        <button type="button" class="btn btn-primary">Show Image</button>
      </th>
      <th>Product</th>
      <th>Code</th>
      <th>Available</th>
      <th>Price</th>
      <th>5 Star Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>snuff</td>
      <td>sn</td>
      <td>yes</td>
      <td>£2</td>
      <td>2*</td>
    </tr>

  </tbody>
</table>
